html,
body {
  height: fit-content;
}

#mainPopup {
  padding: 20px 10px;
}

#BiolovisionToCsv {
  display: none;
  width: 288px;
}

#BiolovisionMap {
  display: none;
}

#eBirdTarget {
  display: none;
  width: 340px;
}

#map {
  width: 500px;
  height: 300px;
}

#drawRectangle {
  position: absolute;
  top: 112px;
  left: 50%;
  margin-left: -100px;
  z-index: 1000;
}

#alertDrawRectSucc {
  display: none;
  position: absolute;
  top: 120px;
  z-index: 1001;
  width: 500px;
}

#alertPlusOuMoinsSucc {
  display: none;
  position: absolute;
  z-index: 1001;
  width: 500px;
}
